# azure-pipelines.yml
# This is the default single pipeline file

trigger:
  batch: false
  branches:
    include:
      - master

parameters:
- name: buildForAzure
  displayName: 'Build/deploy to Azure cloud?'
  type: boolean
  default: true

steps:
  - ${{ if eq(parameters.buildForAzure, true) }}:
    - template: pipeline-azure.yml
  - ${{ if not(eq(parameters.buildForAzure, true)) }}:
    - template: pipeline-clguild01.yml
